.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path, class: "top-items__icons top-items__icons__edit" do
          <i class="far fa-edit fa-sm"></i>
        = link_to edit_user_path(current_user), class: "top-items__icons top-items__icons__cog" do
          <i class="fas fa-cog fa-sm"></i>
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-items
        = link_to  group_messages_path(group), class: "group-link" do
          .group-items__name
            = group.name
          .group-items__message
            = group.show_last_message